.event-card {
  margin: 0 0 1rem;
}

.event-card__media:before {
  /* 2:1 ratio */
  margin-top: 50%;
}

.event-card__media__map {
  height: 100%;
}

.event-card__when {
  padding: 1rem;
}

.event-card__where {
  padding: 0 1rem;
}

.event-card__where a {
  color: var(--mdc-theme-text-secondary-on-background);
}
.event-card__where a:hover,
.event-card__where a:active {
  color: var(--mdc-theme-text-primary-on-background);
}

.event-card__title {
  margin: 0;
}

.event-card__subcontent {
  color: rgba(0, 0, 0, 0.54);
  /* @alternate */
  color: var(--mdc-theme-text-secondary-on-background);
  margin: 0;
}

.event-card__secondary {
  color: rgba(0, 0, 0, 0.54);
  /* @alternate */
  color: var(--mdc-theme-text-secondary-on-background);
  padding: 0 1rem 8px 1rem;
}

.event-card__rsvp-number-button {
  appearance: none;
  border: 0;
  cursor: pointer;
}

.event-card__rsvp-number {
  display: inline-block;
  text-align: center;
  width: 1.5rem;
  height: 1.5rem;
  line-height: 1.5rem;
  border-radius: 50%;
  color: var(--mdc-theme-surface);
  background-color: var(--mdc-theme-on-surface);
}

.event-card__rsvps {
  padding: 0 1rem 1rem;
}

.event-card__rsvps p {
  margin: 0;
}
