.event-card {
  margin: 0 0 1rem;
}

.event-card__media:before {
  /* 2:1 ratio */
  margin-top: 50%;
}

.event-card__media__map {
  height: 100%;
}

.event-card__when {
  padding: 1rem;
}

.event-card__where {
  padding: 0 1rem;
}

.event-card__where a {
  color: var(--mdc-theme-text-secondary-on-background);
}
.event-card__where a:hover,
.event-card__where a:active {
  color: var(--mdc-theme-text-primary-on-background);
}

.event-card__title {
  margin: 0;
}

.event-card__subcontent {
  color: rgba(0, 0, 0, 0.54);
  /* @alternate */
  color: var(--mdc-theme-text-secondary-on-background);
  margin: 0;
}

.event-card__secondary {
  color: rgba(0, 0, 0, 0.54);
  /* @alternate */
  color: var(--mdc-theme-text-secondary-on-background);
  padding: 0 1rem 8px 1rem;
}

.event-card__rsvp-number-button {
  appearance: none;
  border: 0;
  cursor: pointer;
}

.event-card__rsvp-number {
  display: inline-block;
  text-align: center;
  width: 1.5rem;
  height: 1.5rem;
  line-height: 1.5rem;
  border-radius: 50%;
  color: var(--mdc-theme-surface);
  background-color: var(--mdc-theme-on-surface);
}

.event-card__rsvps {
  padding: 0 1rem 1rem;
}

.event-card__rsvps p {
  margin: 0;
}

/* AddEvent theme CSS
---------------------------------------------------------------------- */

/* The button */
.addeventatc {
  position: relative;
  z-index: 999998 !important; /* For some reason AddEvent is setting this to auto */
  /* This is styled by our Material Design classes */
}
/* Drop down */
.addeventatc_dropdown {
  width: 230px;
  position: absolute;
  padding: 6px 0px 0px 0px;
  font-family: Roboto, "Helvetica Neue", Helvetica, Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
  color: #000 !important;
  font-weight: 600;
  line-height: 100%;
  background: #fff;
  font-size: 15px;
  text-decoration: none;
  text-align: left;
  margin-left: -1px;
  display: none;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 10px 26px;
  -moz-box-shadow: rgba(0, 0, 0, 0.4) 0px 10px 26px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 10px 26px;
  transform: scale(.98, .98) translateY(5px);
  z-index: -1;
  transition: transform .15s ease;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.addeventatc_dropdown.topdown {
  transform: scale(.98, .98) translateY(-5px) !important;
}

.addeventatc_dropdown span {
  display: block;
  line-height: 100%;
  background: #fff;
  text-decoration: none;
  cursor: pointer;
  font-size: 15px;
  color: #333;
  font-weight: 600;
  padding: 14px 10px 14px 55px;
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
}

.addeventatc_dropdown span:hover {
  background-color: #f4f4f4;
  color: #000;
  text-decoration: none;
  font-size: 15px;
}

.addeventatc_dropdown em {
  color: #999 !important;
  font-size: 12px !important;
  font-weight: 400;
}

.addeventatc_dropdown .frs a {
  background: #fff;
  color: #cacaca !important;
  cursor: pointer;
  font-size: 9px !important;
  font-style: normal !important;
  font-weight: 400 !important;
  line-height: 110% !important;
  padding-left: 10px;
  position: absolute;
  right: 10px;
  text-align: right;
  text-decoration: none;
  top: 5px;
  z-index: 101;
}

.addeventatc_dropdown .frs a:hover {
  color: #999 !important;
}

.addeventatc_dropdown .ateappleical {
  background: url(../../../images/addevent/icon-apple-t5.svg) 18px 40% no-repeat;
  background-size: 22px 100%;
}

.addeventatc_dropdown .ategoogle {
  background: url(../../../images/addevent/icon-google-t5.svg) 18px 50% no-repeat;
  background-size: 22px 100%;
}

.addeventatc_dropdown .ateoutlook {
  background: url(../../../images/addevent/icon-outlook-t5.svg) 18px 50% no-repeat;
  background-size: 22px 100%;
}

.addeventatc_dropdown .ateoutlookcom {
  background: url(../../../images/addevent/icon-outlookcom-t5.svg) 18px 50% no-repeat;
  background-size: 22px 100%;
}

.addeventatc_dropdown .ateyahoo {
  background: url(../../../images/addevent/icon-yahoo-t5.svg) 18px 50% no-repeat;
  background-size: 22px 100%;
}

.addeventatc_dropdown .atefacebook {
  background: url(../../../images/addevent/icon-facebook-t5.svg) 18px 50% no-repeat;
  background-size: 22px 100%;
}

.addeventatc_dropdown .copyx {
  height: 21px;
  display: block;
  position: relative;
  cursor: default;
}

.addeventatc_dropdown .brx {
  height: 1px;
  overflow: hidden;
  background: #e8e8e8;
  position: absolute;
  z-index: 100;
  left: 10px;
  right: 10px;
  top: 9px;
}

.addeventatc_dropdown.addeventatc-selected {
  transform: scale(1, 1) translateY(0px);
  z-index: 99999999999;
}

.addeventatc_dropdown.topdown.addeventatc-selected {
  transform: scale(1, 1) translateY(0px) !important;
}

.addeventatc_dropdown .drop_markup {
  background-color: #f4f4f4;
}
