html, body {
  height: 100%;
}

body {
  font-family: 'Roboto';
  margin: 0;
  padding-top: 0.1px; /* Prevent header h1 margin from pushing body down */
}

.header,
.instruct {
  text-align: center;
  width: 300px;
  margin: 0 auto;
}

.header h1 i {
  font-size: 31px;
  line-height: 1.15;
  vertical-align: bottom;
}

.button-container {
  display: flex;
  justify-content: center;
  width: 300px;
  margin: auto;
}

.button-container button {
  margin: 3px;
}
