html, body {
  height: 100%;
}

body {
  font-family: 'Roboto';
  margin: 0;
  padding-top: 0.1px; /* Prevent header h1 margin from pushing body down */
}

.header,
.instruct {
  text-align: center;
  width: 300px;
  margin: 0 auto;
}

.header h1 i {
  font-size: 31px;
  line-height: 1.15;
  vertical-align: bottom;
}

.phone,
.verification-code {
  display: block;
  width: 300px;
  margin: 20px auto;
}

.button-container {
  display: flex;
  justify-content: center;
  width: 300px;
  margin: auto;
}

.button-container button {
  margin: 3px;
}

/* Page Transitions */
.squish-exiting {
  animation: squish-exit .25s ease-in 1;
  opacity: 0;
}
.squish-entering {
  /* hide it (offscreen or absolutely) while the exiting transition finishes */
  animation: none; // Kills default _takeover animation
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
}
.squish-entered {
  animation: squish-enter .25s ease-out 1;
}

@keyframes squish-enter {
  0% { opacity: 0; transform: scale(0.975); }
  100% { opacity: 1; transform: scale(1); }
}
@keyframes squish-exit {
  0% { opacity: 1; transform: scale(1); }
  100% { opacity: 0; transform: scale(0.975); }
}
